.pdfbuttons {
  position: absolute;
  right: 15px;
}

.border-center {
  width: fit-content;
  border: 2px solid black;
  padding: 0.5rem;
  margin: auto;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid black;
}
