<div class="container">
  <h3 class="mt-3">Test Stock/products</h3>
  <hr>
  <h4>
    <span class="btn btn-primary" (click)=updateData()>
      <fa-icon [icon]="faRedo"></fa-icon>
    </span>
    View Data
  </h4>
  <p *ngFor="let product of products$ | async">ID: {{product.id}} , PVP: {{product.pvp}}, IVA: {{product.iva}} ,
    DISCOUNT:
    {{product.discount}}
  </p>
  <hr>
  <h4>New Product</h4>
  <div class="input-group mb-3 p-3">
    <input [(ngModel)]="product.pvp" type="number" class="form-control" placeholder="PVP" aria-label="PVP">
    <input [(ngModel)]="product.iva" type="number" class="form-control" placeholder="IVA" aria-label="IVA">
    <input [(ngModel)]="product.discount" type="number" class="form-control" placeholder="DISCOUNT"
      aria-label="DISCOUNT">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)=create() type="button" id="button-create">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
  <span>{{msgNew}}</span>
  <hr>
  <h4>Actions By ID</h4>
  <div class="input-group mb-3 p-3">
    <select [(ngModel)]="productId" class="custom-select">
      <option *ngFor="let prod of (products$ | async)" [ngValue]="prod.id">{{prod.id}}</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-info" (click)=getById()>Get by Id</button>
      <button class="btn btn-danger" (click)=delete()>Delete by Id</button>
    </div>
  </div>
  <span>{{msgById}}</span>
  <hr>
  <h4>Update Product</h4>
  <div class="input-group mb-3 p-3">
    <input [(ngModel)]="productselected.id" type="number" class="form-control" placeholder="ID" aria-label="ID">
    <input [(ngModel)]="productselected.pvp" type="number" class="form-control" placeholder="PVP" aria-label="PVP">
    <input [(ngModel)]="productselected.iva" type="number" class="form-control" placeholder="IVA" aria-label="IVA">
    <input [(ngModel)]="productselected.discount" type="number" class="form-control" placeholder="DISCOUNT"
      aria-label="DISCOUNT">
    <div class="input-group-append">
      <button class="btn btn-primary" (click)=update()>Update</button>
    </div>
  </div>
  <span>{{msgUpdate}}</span>
  <hr>
</div>