#sidebar {
  color: #fff;
  padding-left: 0.5rem;
  height: 100%;
  overflow-y: scroll;

  a.active {
    border-right: 10px solid green;
  }
}

@media (max-width: 575px) {
  #sidebar {
    .shrink {
      display: none !important;
    }
  }
}
